div{
    position: relative;
    margin: 45px 0;

    input{
        background: none;
        background-color: white;
        color: gray;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 50%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid gray;
        margin: auto;
        height: 50px;


        &:focus {
            outline: none;
        }

        &:focus ~ label {
            top: -14px;
            font-size: 12px;
        }
    }

    label{
        color: gray;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 40px;
        width: 60%;
        margin: auto;
        transition: 300ms ease all;

        &.shrink{
            top: -14px;
            font-size: 12px;
        }
    }
}








.shrink{
    top: -14px;
    font-size: 12px;
}